<div class="container">
	<div class="row form-content">
		<div class="col-xs-6 contactForm">
			<h1>Formulario de contacto</h1>
		</div>
		<div class="col-xs-6 contactData">
			<h1>Datos de contacto</h1>
				<div class="row">
					<div class="col-xs-1">
						<i class="fa fa-envelope icon-class iconContact"></i>
					</div>
					<div class="col-xs-11 textContact">
						<p>agusfelgar@gmail.com</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-1">
						<i class="fa fa-whatsapp icon-class iconContact"></i>
					</div>
					<div class="col-xs-11 textContact">
						<p>667-457-339</p>
					</div>
				</div>
		</div>
	</div>


</div>


	
