<div class="navbar-fixed mynavbar">
<nav>
  <div class="nav-wrapper">
    <a href="#!"><img class="brand-logo" src="../assets/img/logo_md_coach.png"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons logoclr">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['/aboutme']" [routerLinkActive]="['actived']" class="menuItem">Sobre mi</a></li>
      <li><a [routerLink]="['/services']" [routerLinkActive]="['actived']" class="menuItem">Servicios</a></li>
      <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']" class="menuItem">Contacto</a></li>
      <li><a [routerLink]="['/aboutinfo']" [routerLinkActive]="['actived']" class="menuItem">Información</a></li>
    </ul>
    <ul class="side-nav logoclr" id="mobile-demo">
      <li><a [routerLink]="['/aboutme']">Sobre mi</a></li>
      <li><a [routerLink]="['/services']">Servicios</a></li>
      <li><a [routerLink]="['/contact']">Contacto</a></li>
      <li><a [routerLink]="['/aboutinfo']" [routerLinkActive]="['actived']" class="menuItem">Información</a></li>
    </ul>
  </div>
</nav>
</div>
<router-outlet></router-outlet>


