<div class= "container services-content">
	<div class="row">
		<div class= "col s3">
			<div class="card card-class">
				<div class="card-image">
					<i class="material-icons icon-class">computer</i>
				</div>
				<p class="card-text">Coaching profesional</p>
			</div>
		</div>
		<div class= "col s3">
			<div class="card card-class">
				<div class="card-image">
					<i class="material-icons icon-class">group_add</i>
				</div>
				<p class="card-text">Coaching para equipos</p>
			</div>
		</div>
		<div class= "col s3">
			<div class="card card-class">
				<div class="card-image">
					<i class="material-icons icon-class">directions_walk</i>
				</div>
				<p class="card-text">Coaching personal</p>
			</div>
		</div>

	</div>
	<div class="row">
		<div class= "col s3">
			<div class="card card-class">
				<div class="card-image">
					<i class="material-icons icon-class">record_voice_over</i>
				</div>
				<p class="card-text">Hablar en público</p>
			</div>
		</div>
		<div class= "col s3">
			<div class="card card-class">
				<div class="card-image">
					<i class="material-icons icon-class">directions_run</i>
				</div>
				<p class="card-text">Coaching sobre Liderazgo</p>
			</div>
		</div>
		<div class= "col s3">
			<div class="card card-class">
				<div class="card-image">
					<i class="material-icons icon-class">all_inclusive</i>
				</div>
				<p class="card-text">Coaching para jóvenes</p>
			</div>
		</div>
	</div>
</div>
