<div class="parallax-container img-effect">
	<div class="parallax">
		<img src="../../../assets/img/clouds.jpg" alt="clouds">
	</div>
</div>
<div class="container divInfo">
	<div class="row title-row">
		<div class="col m12 center-align">
			<p class="infoTitle ">Paso 1 a contar</p>
		</div>
	</div>
	<div class="row">
		<div class="col m12 center-align colordivider"></div>
	</div>
	<div class="row">
		<div class="col m12 l4 center-align">
			<img src="../../../assets/img/mountain.jpg" alt="speak1" class="imgInfo">
		</div>
		<div class="col m12 l8 valign-wrapper info-text">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
	</div>
</div>
<div class="parallax-container img-effect">
	<div class="parallax">
		<img src="../../../assets/img/water.jpg" alt="clouds">
	</div>
</div>
<div class="container divInfo">
	<div class="row title-row">
		<div class="col m12 center-align">
			<p class="infoTitle ">Paso 2 a contar</p>
		</div>
	</div>
	<div class="row">
		<div class="col m12 center-align colordivider"></div>
	</div>
	<div class="row">
		<div class="col m12 l4 center-align">
			<img src="../../../assets/img/mountain.jpg" alt="speak1" class="imgInfo">
		</div>
		<div class="col m12 l8 valign-wrapper info-text">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
	</div>
</div>
<div class="parallax-container img-effect">
	<div class="parallax">
		<img src="../../../assets/img/sea_image.jpg" alt="clouds">
	</div>
</div>
<div class="container divInfo">
	<div class="row title-row">
		<div class="col m12 center-align">
			<p class="infoTitle ">Paso 3 a contar</p>
		</div>
	</div>
	<div class="row">
		<div class="col m12 center-align colordivider"></div>
	</div>
	<div class="row">
		<div class="col m12 l4 center-align">
			<img src="../../../assets/img/mountain.jpg" alt="speak1" class="imgInfo">
		</div>
		<div class="col m12 l8 valign-wrapper info-text">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
	</div>
</div>